<nav class="d-flex navbar navbar-light bg-light justify-content-between p-3 mb-4 shadow-sm">
  <a class="navbar-brand">

   <%= image_tag("logo.png", width: "200", :alt => "rss feed") %>
  </a>

  <div class="ms-auto d-inline-flex align-middle ">
    <a href="#">Log in</a>
    <p class="ms-4"> <b>hi,</b> Talal</p>

  </div>
</nav>
