<div class="index_grid-personl-book">

  <% @books.each do |b| %>
    <div class="card m-2">
     <%= image_tag "CreateBackground.png"%>
      <div class="card-body">
        <h5 class="card-title"> <%= b.title%> </h5>
        <p class="card-text grey-color "> <%= b.author%> </p>
      </div>
    </div>
  <% end %>

</div>
