<div class="container">
  <div class="row">
    <%= link_to "Back to search", books_path, class: "link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover pb-2" %>

    <div class="col-12">
      <%= link_to "Borrow this book", books_path, type: "button", class: "btn btn-my-color" %>
    </div>

    <div class="col-12">
      <%= link_to "Borrow this book", books_path, type: "button", class: "btn btn-my-color" %>
    </div>

  </div>
</div>
