<div class="row">
<div class="col p-4">
  <div class="d-flex d-grid gap-1 pr-4 mb-5">
    <input type="text" placeholder="Search" class="form-control">
    <input type="text" placeholder="area"  class="form-control w-25">
    <button type="button  " class="btn search-background">Search</button>
          <div class="dropdown">
          <a class="btn border dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
  </div>

  <h4>List of the book’s</h4>

  <div class="index_grid">

    <% @books.each do |book| %>
    <div class="card" style="width: 15rem;">
      <img src="https://m.media-amazon.com/images/I/617rPny7-LL.jpg" class="" alt="Book's image"></h5>
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text grey-color "> <%= book.description %></p>
      </div>
    </div>
    <% end %>

  </div>
</div>

<div class="col bg-info">

</div>
</div>
