.card-whaite{

  background-color: white;
  padding: 5px;
  border-radius: 8px;
}

.index_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.index_grid-personl-book{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
}

.card-text{
  text-decoration: none;
}

.card-review:hover{

border: 1px solid #e2e2e2;
}
