.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.welcome-name-bold{
  margin: 0 !important;
  font-weight: bold;
}

.name-margin-righ{
  margin-right: 33px;
}
