.rating-bckground{

  background-color: #5fb1cb1f;
  padding: 10px;
  border-radius: 10px;
}


.ratting-number-bold{

  font-weight: bold;
  font-size: 30px;
}

.ratting-name-lighter{
  font-weight: lighter;
  font-size: 18px;
}
