<div class="index_grid-personl-book">


    <div class="card m-2">
     <%= image_tag "CreateBackground.png"%>
      <div class="card-body">
        <h5 class="card-title">book title</h5>
        <p class="card-text grey-color ">book description</p>
      </div>
    </div>


</div>
