<div class="review-background card-review mr-3">
  <div class="d-flex">
    <div class="pl-3">
    <%= image_tag "avatar.png", alt: "Le Wagon", width: 40 , :class => "rounded-circle" %>
    </div>
    <div class="review-padding-left">
    <h6 class="review-name">talal</h5>
    <h6 class="review-ratting">4.3</h5>
  </div>
  </div>
  <br>
  <p class="text-card-warp" >
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
  </p>
</div>

    <div class="review-background card-review m-r3">
  <div class="d-flex">
    <div class="pl-3">
    <%= image_tag "avatar.png", alt: "Le Wagon", width: 40 , :class => "rounded-circle" %>
    </div>
    <div class="review-padding-left">
    <h6 class="review-name">talal</h5>
    <h6 class="review-ratting">4.3</h5>
  </div>
  </div>
  <br>
  <p class="text-card-warp" >
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
  </p>
</div>

<div class="review-background card-review mr-3">
  <div class="d-flex">
    <div class="pl-3">
    <%= image_tag "avatar.png", alt: "Le Wagon", width: 40 , :class => "rounded-circle" %>
    </div>
    <div class="review-padding-left">
    <h6 class="review-name">talal</h5>
    <h6 class="review-ratting">4.3</h5>
  </div>
  </div>
  <br>
  <p class="text-card-warp" >
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
  </p>
</div>

<div class="review-background card-review mr-3">
  <div class="d-flex">
    <div class="pl-3">
    <%= image_tag "avatar.png", alt: "Le Wagon", width: 40 , :class => "rounded-circle" %>
    </div>
    <div class="review-padding-left">
    <h6 class="review-name">talal</h5>
    <h6 class="review-ratting">4.3</h5>
  </div>
  </div>
  <br>
  <p class="text-card-warp" >
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
  </p>
</div>
